@charset "utf-8";
*,
*::after,
*::before {
    box-sizing: border-box;
}
body{
	color:white;
	font-family:"Palatino Linotype";
	backgroud-color:000000;
    background-size: cover;
	background-position: center;
	margin:0;
}
.wrapper {
    max-width: 90%;
    margin-left:5%;
	margin-right:5%;
	margin-top:10px;
	margin-bottom:10px;
}
header {
    position: fixed;
    width: 100%;
    background:#00465D99;
	backdrop-filter:blur(20px);
    top: 0;
    transition: all 500ms ease;
}
header.scrolled {
    border-radius: 10px;
    background: #00465D70;
    backdrop-filter: blur(10px);
    border: 1px solid #00465D;
    transition: all 500ms ease;
    width: 92%;
    margin: 0 4%;
    top: 20px;
    box-shadow: 8px 12px 10px -8px #00465D;
}
.fill{
	height:100px;
}
.cent{
	display:block;
	margin-left:auto;
	margin-right:auto;
}
ha{
	display:block;
	padding: 2px;
    border-radius: 10px;
    background-color:#6AE2CF60;
    backdrop-filter: blur(5px);
    width: 100%;
    margin: 5px auto 5px;
    text-align: center;
    border: 2px solid #00305160;
    box-shadow: 6px 8px 8px -6px #001033;
	top:0;
}
himg{
	display:block;
	padding: 2rem;
    border-radius: 10px;
    background:#00126260;
    backdrop-filter: blur(5px);
    width: 100%;
    margin: 20px;
    text-align: center;
    border: 2px solid #00305160;
    box-shadow: 6px 8px 8px -6px #001033;
}
h2{
	
}
.ch{
	position:fixed;
	top:20px;
	right:50px;
	width:50px;
}
.thing{
	position:fixed;
	top:0;
	left:50px;
}
